<a href="https://colab.research.google.com/github/ehdgml123/pythonStudy25/blob/master/BaseSetType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 집합 자료형은 다음과 같이 set 키워드를 사용해 만들 수 있다.
s1 = set([1,2,3])
s1

{1, 2, 3}

In [4]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

만약 set 자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한 후에 해야 한다.

In [6]:
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [8]:
l1[0]

1

In [10]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [12]:
t1[0]

1

교집합, 합집합, 차집합 구하기

In [14]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [16]:
# 교집합 구하기  '&' 를 이용하면 교집합 을 간단히 구할수 있다.
s1 & s2

{4, 5, 6}

In [18]:
# intersection 함수를 사용해도 결과는 동일하다.
s1.intersection(s2)

{4, 5, 6}

In [20]:
# 합집합 구하기
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [22]:
# union 함수를 사용해도 된다.
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
# 차집합 구하기
s1 - s2

{1, 2, 3}

In [26]:
s2 - s1

{7, 8, 9}

In [28]:
# difference 함수를 사용해도 차집합을 구할 수 있다.
s1.difference(s2)

{1, 2, 3}

In [29]:
s2.difference(s1)

{7, 8, 9}

집합 자료형 관련 함수

In [31]:
# 값 1개 추가하기 -add
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [32]:
# 값 여러 개 추가하기 - update
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [33]:
# 특정 값 제거하기 - remove
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}