<a href="https://colab.research.google.com/github/ehdgml123/pythonStudy25/blob/master/DefineExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# def 는 함수나 메소드 를 정의하는 문법이다.
# 파라미터 , 매개변수, 입력값
# def 이름 (매개변수1 , 매개변수2) :
# 들여쓰기 실행문
# 들여쓰기 return null | 값

# 함수나, 메서드는 반복적으로 수행되는 문을 따로 정의 해 놓음
# 정의를 먼저하고 나중에 호출하여 사용한다.
# 호출할때는 . 을 이용하여 이름을 불러오면 활용 가능함 .

a = 3
b = 4
c = a+b
print(c)

7

In [4]:
# 위 코드를 함수로 변경한다.

# 정의
def add(a,b):   # add 함수 이름을 반들고 입력은 2개를 받는다.
    z = a + b
    return z    # add 함수 정의 종료

# 활용

total = add(4,5)
print(total)

9

입력값이 없는 함수

In [7]:
def say():
    return 'Hi'

In [8]:
a = say()
print(a)

Hi

리턴값이 없는 함수

In [10]:
def add(a, b):
    print("%d, %d의 합은 %d입니다." % (a,b, a+b))

In [11]:
add(3,4)

3, 4의 합은 7입니다.

입력값도, 리턴값도 없는 함수

In [13]:
def say():
    print('Hi')

In [14]:
say()  # 함수_이름()

Hi

매개변수를 지정하여 호출하기

In [17]:
# 정의
def sub(a, b):
    return a - b

In [19]:
result = sub(a=7, b=3)
print(result)

4

In [20]:
# 매개변수를 지정하면 다음과 같이 순서에 상관없이 사용할 수 있다는 장점이 있다.
result = sub(b = 5, a=3)
print(result)

-2

여러 개의 입력값을 받는 함수 만들기

In [23]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i  # *args에 입력받은 모든 값을 더한다.
    return result

In [25]:
result = add_many(1,2,3)
print(result)

6

In [26]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [28]:
def add_mul(choice, *args):
    if choice == "add": # 매개변수 choice 에 "add" 를 입력받았을 때
       result = 0
       for i in args:
        result = result + i
    elif choice == "nul":
        result = 1
        for i in args:
            result = result * i
    return result

In [29]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

In [30]:
result = add_mul('nul', 1,2,3,4,5)
print(result)

120

키워드 매개변수, kwargs

In [32]:
# **kwargs처럼 매개변수 이름 앞에 **을 붙이면 매개변수 kwargs는 딕셔너리가
# 되고 모든 Key=Value 형태의 입력값이 그 딕셔너리에 저장된다는 것을 알 수 있다.
def print_kwargs(**kwargs):
    print(kwargs)

In [34]:
print_kwargs(a=1)

{'a': 1}

In [35]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

함수의 리턴값은 언제나 하나이다

In [37]:
def add_and_mul(a,b):
    return a+b, a*b

In [39]:
result = add_and_mul(3,4)

In [40]:
result1, result2 = add_and_mul(3,4)

매개변수에 초깃값 미리 설정하기

In [41]:
def say_myself(name, age, man=True):
    print("나의 이름은 %s 입니다" %name)
    print("나이는 %d 살입니다." % age)
    if man:
        print("남자입니다")
    else:
        print("여자입니다.")

In [43]:
say_myself("박을용", 27)

나의 이름은 박을용 입니다
나이는 27 살입니다.
남자입니다

In [44]:
say_myself("박을용", 27, True)

나의 이름은 박을용 입니다
나이는 27 살입니다.
남자입니다

In [46]:
say_myself("박응선", 27, False)

나의 이름은 박응선 입니다
나이는 27 살입니다.
여자입니다.

함수 안에서 선언한 변수의 효력 범위

In [47]:
a = 2
def vartest(a):
    a = a+1

In [48]:
vartest(a)

In [49]:
print(a)

2

In [50]:
def vartest(hello):
    hello = hello + 1

In [51]:
def vartest(a):
    a = a + 1

In [53]:
vartest(3)
print(a)

2

return 사용하기

In [54]:
a = 1
def vartest(a):
    a = a +1
    return a

In [55]:
a = vartest(a)
print(a)

2

In [56]:
#  global 명령어 사용하기
a = 1
def vartest():
    global a
    a = a+1

In [57]:
vartest()
print(a)

2

In [61]:
# lambda 예약어
# 함수_이름 = lambda 매개변수1, 매개변수2, ... : 매개변수를_이용한_표현식

add = lambda a, b: a+b
result = add(3,4)
print(result)

7

In [62]:
def add(a,b):
    return a+b

result = add(3,4)
print(result)

7